body {
  background-color: #f9f9f9;
  color: #1e1e1e;
}

/* 카드 스타일 */
.card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
